@media (max-width: 576px) {
    /*navbar*/
    .navmenu li a {
        color: white;
        text-align: left;
        padding: 15px 5px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 14px;
    }
    .navbar-logo img{
        width: 80%;
    }
    /*oradores*/
    .pages-rounded-card-wrapper {
        width:80%;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .pages-rounded-card-img{
        width: 100%;
      }
      .event-oradores {
        padding-left: 0;
      }
}