.agenda {
    padding: 2rem 8rem 0;
    .actividades-intro {
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1px solid $PrimaryColor;
        margin: 2rem 0;
        padding: 2rem 0 1rem 0;
    }
    .actividades {
        background-color: $PrimaryColor;
        color: white;
        margin: 0.1rem 0;
        padding: 2rem 0 2rem 1rem;
    }
    .dia {
        background-color: #9C0927;
        border-radius: 10px 30px 10px 30px;
        padding: 0 2rem;
    }
    .actividades-horario {
        margin-bottom: 2rem;
    }
    .hora {
        background-color: #FF3860;
        border-radius: 10px 30px 10px 30px;
        padding: 0 2rem;
        font-weight: bold;
    }
    .actividades-titulo {
        font-size: large;
        font-weight: bold;
    }
}