/* TIPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

/* GENERAL STYLES */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size:  1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: start;
    background-color: #fff;
}

h1 {
    font-size: 48px;
}

/* NAVBAR STYLES */
.nav-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(232, 28, 69);
    padding-left: 1rem;
    padding-right: 1rem;
}

.navmenu ul {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
}

.navmenu li a {
    color: white;
    text-align: left;
    padding: 15px 50px 15px;
    border-radius: 25px;
    text-decoration: none;
    font-size: larger;
}

.navmenu li a:hover {
    background-color: white ;
    color: rgb(232, 28, 69);
}

/* HEADER STYLES */
.header {
    background-image: url('/assets/img/evento-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 75%;
    color: #fff;
}

.event {
    padding-left: 3rem;
    padding-top: 7rem;
}

.event-name h2 {
    font-weight: 100;
}
/*header-oradores*/
.header-oradores {
    background-image: url(../img/bg-oradores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    opacity: 75%;
}

.header-programa {
    background-image: url(../img/bg-agenda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    opacity: 75%;
}

.header-sponsors {
    background-image: url(../img/bg-sponsors.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    opacity: 75%;
}

.header-contacto {
    background-image: url(../img/bg-contactos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    opacity: 75%;
}
.event-oradores, .event-programa, .event-sponsor, .event-contacto{
    padding-left: 3rem;
    padding-top: 15rem;
}
.oradores, .programa, .sponsor, .contacto {
    background-color: rgb(232, 28, 69);
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 1rem 1rem;
}


/* MAIN STYLES */
.about-container {
    padding: 3rem 1rem 1rem 0;
}
.about-img img {
    width: 100%;
    border-radius: 0 50px 50px 0;
    padding-bottom: 2rem;

}

.about-text {
    padding-left: 3rem;
    padding-right: 1rem;
}

.about-text h2 {
    color: rgb(232, 28, 69);
    font-size: 30px;
}

/* SECTION STYLE*/
.section-container {
    padding: 1rem 0 1rem 1rem;
}
.section-img img {
    width: 100% ;
    border-radius: 50px 0 0 50px;
}

.section-venue {

    padding-right: 3rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.section-venue h2 {
    color: rgb(232, 28, 69);
}
.section-venue p {
    font-size: 14px;
}

.section-map iframe {
    width: 600px;
    height: 450px;
    border: 0;
    padding-top: 3rem;
}

/* FOOTER STYLES*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgb(232, 28, 69);
    color: #fff;
    margin-top: 5rem;
}

/* CARD STYLES */

.pages-rounded-card{
    border-radius: 15px;
    margin: 15px;
  }
  
  .pages-rounded-card:hover{
    box-shadow: 5px 5px 5px gray;
  }
  
  .pages-rounded-card-img{
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position-x: center;
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
  }
  
.card-group {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

      /* MOBILE STYLE */
@media (max-width: 576px) {
    /*navbar*/
    .navmenu li a {
        color: white;
        text-align: left;
        padding: 15px 5px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 14px;
    }
    .navbar-logo img{
        width: 80%;
    }

    /*oradores*/
    .pages-rounded-card-wrapper {
        width: 60%;
      }
      .pages-rounded-card-img{
        width: 100%;
      }
}